.header {
  background-color: #fcfcfd;
  height: 1680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white; }
  .header__back {
    padding-left: 90px;
    height: 848px;
    width: 100%;
    background: linear-gradient(-65deg, #fcfcfd 22%, #56ccf2 22%, #56ccf2 100%);
    padding-top: 48px; }
  .header__h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;
    margin-top: 85px;
    margin-left: 98px; }
  .header__p {
    max-width: 754px;
    margin-left: 98px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px; }
  .header__button {
    width: 226px;
    height: 56px;
    background: white;
    border-radius: 64px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
    color: #253757;
    margin: 42px 0 0 98px;
    cursor: pointer; }
  .header__image {
    position: relative;
    height: 640px;
    margin: 80px 81px 0 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(37, 55, 87, 0.1)), to(rgba(37, 55, 87, 0.1))), url("../images/slider/slide-img-1.jpg");
    background: linear-gradient(0deg, rgba(37, 55, 87, 0.1), rgba(37, 55, 87, 0.1)), url("../images/slider/slide-img-1.jpg");
    background-size: cover;
    background-position: center; }
  .header__intro {
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    padding: 477px 0 0 98px; }
    .header__intro-text {
      max-width: 264px;
      padding-left: 98px;
      font-style: normal;
      font-weight: 900;
      font-size: 19.6px;
      line-height: 27px; }
    .header__intro-link {
      position: relative;
      color: white;
      -webkit-transform: scaleY(2);
              transform: scaleY(2);
      font-size: 24px;
      bottom: 3px;
      -webkit-transition: color, 0.4s;
      transition: color, 0.4s;
      background-color: #fcc304; }
    .header__intro-link:hover {
      color: green; }
  .header__back-front {
    width: 162px;
    height: 68px;
    background-color: #fcc304;
    position: absolute;
    top: 303px;
    border-radius: 50px;
    left: -81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 31px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .header__socials {
    width: 386px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    bottom: 266px;
    right: -259px; }
  .header__soc-link {
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #253757;
    -webkit-transition: color, 0.4s;
    transition: color, 0.4s; }
  .header__soc-link:hover {
    color: #6060f3; }
  .header__h2 {
    margin: 166px 0 0 196px; }
  .header__welcom-p {
    max-width: 762px;
    margin: 19px 0 0 196px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #253757;
    margin-bottom: 136px; }

@media (max-width: 400px) {
  .header {
    height: 2500px; }
    .header__h2 {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 250px auto 0; }
    .header__intro {
      padding: 372px 0 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center; }
      .header__intro-text {
        padding-left: 0;
        text-align: center;
        margin-left: auto;
        margin-right: auto; }
    .header__back-front {
      top: 124px;
      left: 0;
      right: 0;
      bottom: 0;
      position: relative;
      margin-left: auto;
      margin-right: auto; }
    .header__socials {
      bottom: 0;
      right: 0;
      left: 0;
      top: 165px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%; } }

@media (max-width: 680px) and (min-width: 401px) {
  .header {
    height: 2200px; } }

@media (min-width: 1000px) {
  .header {
    height: 1700px; } }

@media (min-width: 1200px) {
  .header {
    height: 1600px; } }

@media (max-width: 1000px) and (min-width: 401px) {
  __h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 166px auto 0; } }

@media (max-width: 1000px) {
  .header__h1 {
    font-size: 42px;
    line-height: 58px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 0; }
  .header__image {
    margin-right: 0; }
  .header__back {
    padding-left: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#fcfcfd), color-stop(10%, #56ccf2), to(#56ccf2));
    background: linear-gradient(0deg, #fcfcfd 0%, #56ccf2 10%, #56ccf2 100%);
    height: 1000px; }
  .header__p {
    display: block;
    margin: 0 auto;
    text-align: center; }
  .header__button {
    display: block;
    margin: 42px auto 0; }
  .header__intro-text {
    padding: 0 auto; }
  .header__h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__welcom-p {
    margin: 19px auto;
    text-align: center; } }

@media (max-width: 1200px) and (min-width: 400px) {
  .header__h2 {
    margin: 166px 0 0; }
  .header__back {
    padding-left: 0; }
  .header__back-front {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto; }
  .header__socials {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    bottom: 0;
    right: 0;
    left: 0;
    top: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%; }
  .header__image {
    margin-right: 0;
    width: 100%; } }

@media (min-width: 1200px) {
  .header__back {
    padding-left: 14.5%; }
  .header__image {
    max-width: 1146px; } }

@media (min-width: 1620px) {
  .header__back {
    padding-left: 0;
    background: linear-gradient(-65deg, #fcfcfd 22%, #56ccf2 45%, #56ccf2 100%);
    padding-top: 48px; }
  .header__h1 {
    text-align: center;
    margin-left: 0; }
  .header__p, .header__button, .header__image {
    display: block;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 1200px) and (min-width: 1000px) {
  .header__welcom-p {
    margin-left: auto;
    margin-right: auto; }
  .header__h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/*# sourceMappingURL=header.css.map */
